.app-header-abc {
  background-color: var(--secondary-color);
  display: flex;
  width: auto;
  /* padding: 10px 150px 8px 156px; */
  height: 3.1vh;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7%;
}

.app-logo-abc {
  width: 60px;
  height: 12px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .app-header-abc {
    height: 3.1vh;
  }

  .app-logo-abc {
    width: 40px; /* Adjust the logo size for smaller screens */
    height: 8px;
  }
}

/* Responsive styles for even smaller screens */
@media (max-width: 480px) {
  .app-header-abc {
    height: 3.1vh;
  }
  .app-logo-abc {
    width: 30px; /* Further adjust the logo size for very small screens */
    height: 6px;
  }
}
