.haha {
  /* background-color: rgba(16, 90, 178, 0.5); */
  background-color: #2f5a8e;
  /* background-color: #105ab2; */
  min-height: 90vh;
}

.allproduct-name {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #105ab2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4c5e4;
  height: 4vh;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  width: 87%;
  margin: 0 auto;
}
