* {
  margin: 0;
  padding: 0;
  --primary-color: #105ab2;
  --secondary-color: #b4c5e4;
  font-family: sans-serif;
}

.App-navbar {
  display: inline-flex;
  align-items: center;
  height: 80px;
  width: 100%;
  gap: 100px;
}

.nav-list {
  list-style: none;
  margin: auto;
  display: flex;
}

.nav-item {
  margin-left: 100px;
}

.shop-text {
  cursor: pointer;
}

a,
.shop-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.arrow-logo {
  cursor: pointer;
  margin-left: 5px;
  display: flex;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--secondary-color);
  font-size: 18px;
  font-weight: normal;
}

.dropdown-menu li {
  padding: 16px;
  /* border-bottom: 1px solid #ccc; */
}

.menu-item a {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: normal;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.shop-link:hover .dropdown-menu {
  display: block;
}

.isDropdownVisible .dropdown-menu {
  display: block;
}

.techspot-logo {
  position: absolute;
  width: 257px;
  height: 37px;
  left: 170px;
}
