.about_us {
  display: flex;
  flex-direction: column;
}

.about_us_container {
  width: 84vw;
  height: 80vh;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-content: center;
  align-self: center;
  color: white;
  overflow: hidden;
}
.about_us_details {
  display: grid;
  align-content: flex-start;
  align-items: flex-start;
  margin-left: 3%;
  margin-top: 3%;
  width: 40%;
}
.about_title {
  padding: 10px;
}

.image {
  display: flex;
  position: relative;
  right: 8%;
  top: 11.7%;
  object-fit: contain;
  opacity: 0.4;
  border-radius: 30px;
}

.logos {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 5%;
  margin-top: 6%;
}

.logos a {
  text-decoration: none;
}

.App_logo {
  height: auto;
}

.image {
  position: absolute;
  width: 42w;
  height: 80vh;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about_us_container {
    width: 90vw; /* Adjust the width for smaller screens */
    height: auto; /* Allow the container's height to adjust based on content */
  }

  .about_us_details {
    width: 90%; /* Expand the details to take up more width on smaller screens */
  }

  .logos {
    width: 30px; /* Set a smaller width for smaller screens */
    height: auto; /* Preserve aspect ratio */
    display: none;
  }

  .image {
    display: none;
  }
}
