.about_us-abc {
  display: flex;
  flex-direction: column;
}

.about_us_container-abc {
  width: 84vw;
  height: 80vh;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-content: center;
  align-self: center;
  color: white;
  overflow: hidden;
  margin-bottom: 32px;
}
.about_us_details-abc {
  display: grid;
  align-content: flex-start;
  align-items: flex-start;
  margin-left: 3%;
  margin-top: 3%;
  width: 40%;
}
.about_title-abc {
  padding: 10px;
}

.image-abc {
  display: flex;
  position: relative;
  right: 8%;
  top: 11.7%;
  object-fit: contain;
  opacity: 0.4;
  border-radius: 30px;
}

.logos-abc {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 5%;
  margin-top: 6%;
}

.logos-abc a {
  text-decoration: none;
}

.App_logo-abc img {
  height: auto;

}

.image-abc {
  position: absolute;
  width: 42w;
  height: 80vh;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about_us_container-abc {
    width: 90vw; /* Adjust the width for smaller screens */
    height: auto; /* Allow the container's height to adjust based on content */
  }

  .about_us_details-abc {
    width: 90%; /* Expand the details to take up more width on smaller screens */
  }

  .logos-abc {
    width: 30px; /* Set a smaller width for smaller screens */
    height: auto; /* Preserve aspect ratio */
    display: none;
  }

  .image-abc {
    display: none;
  }
}
